*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
	background-color: red;
}

header img{
	height: 80px;
	width: 80px;
}

.menu-cont{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.nav-cont ul{
	list-style-type: none;
	display: flex;
}

.nav-cont li{
	margin: 5px;
	border-style: solid;
	border-color: white;
	padding: 5px;
}

.mains{
	background-color: green;
}

.mains img{
	width: 100%;
	height: auto;
}

.colls{
	background-color: yellow;
}

.colls-cont{
	padding: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.colls-cont img{
	margin: 10px;
}

.wes{
	background-color: gray;
}

.wes-box{
	float: left;
	width: 50%;
}

.wes img{
	width: 70%;
}

.wes p{
	padding: 10px;
}

.wes::after {
  content: "";
  clear: both;
  display: table;
}

.dists{
	background-color: brown;
}

.dist-cont{
	padding: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-dist{
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 10px;
	background-color: indianred;
	text-align: center;		
	margin: 20px;
	padding: 30px;
	width: 180px;
}

.conts{
	background-color: lightblue;
}

.addr-cont{
	padding: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.addr-box{
	margin: 20px;
}

.map-box{
	border-style: solid;
	border-color: white;
	border-width: 2px;
	background-color: cadetblue;
	text-align: center;		
	padding: 50px;
	width: 180px;
}

.form-cont{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-box{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	background-color: cadetblue;	
	padding: 50px;
	width: 80%;
	margin-bottom: 20px;
}

.smeds{
	background-color: orange;
}

.smed-cont{
	padding: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.logo-smed{
	border-style: solid;
	border-color: white;
	border-width: 2px;
	border-radius: 10px;
	background-color: darkorange;
	text-align: center;		
	margin: 20px;
	padding: 30px;
	width: 180px;
}
footer{
	height: 80px;
	background-color: cyan;
}

footer p{
	text-align: center;
}
